.ModalWindowView__fixedFullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.ModalWindowView__vail {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    transition: background-color 200ms linear;
}

@media not all and (hover: none) {
    .ModalWindowView__vail:hover {
        background: rgba(0, 0, 0, 0.6);
    }
}

.ModalWindowView__vail:active {
    background: rgba(0, 0, 0, 0.7);
}

.ModalWindowView__background {
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 4px #000;
}

.ModalWindowView__rectangle {;
    display: none;
    position: fixed;
    pointer-events: none;
    user-select: none;
    z-index: 1001;
}

.ModalWindowView__box {
    display: none;
    pointer-events: none;
    padding: 12px;
}

.ModalWindowView__box > div {
    cursor: default;
    margin: 0 auto;
    max-width: 900px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

.ModalWindowView__boxContent {
    padding: 12px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.ModalWindowView__boxButtons {
    flex: 0 0;
    padding: 8px;
    text-align: right;
}

.ModalWindowView__boxButtons > button,
.ModalWindowView__boxButtons > a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 18px;
    font-weight: bold;
    font-size: 16px;
    color: #4AF;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    transition: background-color 200ms linear;
}

@media not all and (hover: none) {
    .ModalWindowView__boxButtons > button:hover,
    .ModalWindowView__boxButtons > a:hover {
        background: #DDD;
    }
}

.ModalWindowView__boxButtons > button:active,
.ModalWindowView__boxButtons > a:active {
    background: #CCC;
}

.ModalWindowView__boxButtons > button:disabled {
    cursor: default;
    opacity: 0.3;
    background: none;
}